@using anntgc00492University.Web.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_MyLayoutNonLogin.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>FGR</b>University</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <h4>Use your email to register your account</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                    <a href="~/Home/Index" class="btn btn-default">Cancel</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3">
                    @Html.ActionLink("Register as a new user", "Register")<br/>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </div>
            </div>
        }
        @*<div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign in using
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign in using
                    Google+
                </a>
            </div>
             /.social-auth-links

            <a href="#">I forgot my password</a><br>*@
        @*<a href="register.html" class="text-center">Register a new account</a>*@
    </div>
    <!-- /.login-box-body -->
</div>