@model Anntgc00492University.Model.Models.Instructor

@{
    ViewBag.Title = "Details";
    ViewBag.ManagedObject = "Student";
    ViewBag.ManagedAction = "Detail";
}
<div class="box">
    <div class="box-header">
        <h2>Details</h2>
    </div>
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OfficeAssignment.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OfficeAssignment.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HireDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HireDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstMidName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => m.Teachings)
            </dt>
            <dd>

                <table class="table">
                    @if (Model.Teachings.Count > 0)
                    {
                        <tr>
                            <th>Course code</th>
                            <th> Course title</th>
                            <th>Creadits</th>
                        </tr>
                        foreach (var item in Model.Teachings)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(mi => item.Course.CourseID)
                                </td>
                                <td>
                                    @Html.DisplayFor(mi => item.Course.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(mi => item.Course.Credits)
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2">
                                <p>There is no enrollment</p>
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        </dl>
    </div>
    <div class="box-footer">
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Create new Assignment", "Create", "Teachings", new { area = "Admin", id = Model.ID }, null)|
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>