@model IEnumerable<Anntgc00492University.Model.Models.Instructor>

@{
    ViewBag.Title = "Index";
    ViewBag.ManagedObject = "Instructor";
    ViewBag.ManagedAction = "List";
}

<div class="col-xs-12">
    <!-- /.box -->
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">You can manipulate all teaching assigned records here !</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-md-3">
                        @Html.ActionLink("Create New", "Create")
                    </div>

                    <div class="row">
                        <div class="col-sm-12 table-responsive">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstMidName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OfficeAssignment.Location)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HireDate)
                                    </th>

                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FirstMidName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OfficeAssignment.Location)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HireDate)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new {id = item.ID}) |
                                                @Html.ActionLink("Details", "Details", new {id = item.ID}) |
                                                @Html.ActionLink("Delete", "Delete", new {id = item.ID})
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
